.rounded-table-top-lg {
    border-collapse: collapse;
    border-radius: 1rem;
}

tr:first-child {
    border-bottom-left-radius: 6px;
}

.btn-back {
    background-color: var(--btn-back);
    color: var(--text-heading-color);
}

.btn-back:hover {
    background-color: var(--btn-back-hover);
}

.bg-group-input {
    background-color: #EDF8FB;
}