.login-background {
    background-color: var(--background-color-1);
}

.login-button {
    color: white;
    background-color: var(--place-holder-color);
    font-family: 'Inter', 'sans-serif';
    text-transform: none;
    font-size: 1rem;
}


.input-color {
    color: var(--place-holder-color);
}